<%- include('./partials/header.ejs'); -%>

<div id="checkAns" class="modal">
  <div class="modal-content">
    <h4 id="submitHeading"></h4>
    <p id="submitText"></p>
    <div id="submitLoader"></div>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>

<!--  show Hint Modal Structure -->
<div id="showHints" class="modal">
  <div class="modal-content">
    <h4>Use Hints</h4>
    <p>Remember using hints will only grant you +3 points on correctly answering instead of the usual +5. Similarly
      using 2 hints will grant only +1 point.</p>
    <p>There are <%=ques.hints.length %> hints for this question.</p>
    <div id="hints"></div>
    <div id="useHintBtn"> </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>
<script>
  $('#checkAns').modal({
    dismissible: false, // Modal can be dismissed by clicking outside of the modal
    onCloseEnd: function () { // Callback for Modal close
      alert('Closed');
    }
  }
  );

  function checkAns() {
    //showing loader before fetching requests
    $('#submitHeading').html('<h4>Checking</h4>')
    $('#submitText').html('<p>Please wait.</p>')
    $('#submitLoader').html(`<div class="progress">
      <div class="indeterminate"></div>
      </div>`);
    $('#controlButtons').hide();

    var form = $('#quesForm');
    var url = form.attr('action');
    $.post(url,
      form.serialize(),
      function (data, status) {
        if (data.success == true) {
          if (data.answer == 'correct') {
            $('#submitHeading').html('<h4>Congratulations!</h4>')
            $('#submitText').html('<p>Correct answer.</p>')
            $('#submitLoader').html('')
            window.location.href = '/game/play'
          } else {
            $('#submitHeading').html('<h4>Whoops!</h4>')
            $('#submitText').html('<p>Incorrect answer. Try again.</p>')
            $('#submitLoader').html('')
            $('#controlButtons').show()
          }
        } else {
          $('#submitHeading').html('<h4>Error!</h4>')
          $('#submitText').html('<p>Sorry! but looks like some kind of network error occured. Please try again.</p>')
          $('#submitLoader').html('')
          $('#controlButtons').show()
        }
      });
  }

  function showHints() {
    //showing loader before fetching requests
    $('#hints').html(`<div class="progress">
      <div class="indeterminate"></div>
  </div>`);
    $("#useHintBtn").html('')

    $.get("/game/showHint/<%= ques._id %>", function (data, status) {
      if (data.success == true) {
        console.log(data.hints)
        console.log(data.totalHints)

        var html = "";
        for (let i = 0; i < data.hints.length; i++) {
          html += `<p>Hint ${i + 1} : ${data.hints[i]} </p>`
        }
        $("#hints").html(html);
        if (data.hints.length < data.totalHints) {
          $("#useHintBtn").html(`<button class="bttn" onclick="useHints()">Use hint</button>`);
        } else {
          $("#useHintBtn").html('')
        }
      } else {
        $("#hints").html('<p>Looks like some kind of error occured. Please try again.</p>');
        $("#useHintBtn").html('')
      }

    });
  }

  function useHints() {
    //showing loader before fetching requests
    $('#hints').html(`<div class="progress">
      <div class="indeterminate"></div>
      </div>`);
    $("#useHintBtn").html('')
    $.get("/game/useHint/<%= ques._id %>", (data, status) => {
      if (data.success == true) {
        showHints();
      } else {
        $("#hints").html('<p>Looks like some kind of error occured. Please try again.</p>');
        $("#useHintBtn").html('')
      }
    });
  }
</script>

<!-- Buy Hint modal Structure -->

<div id="buyHints" class="modal">
  <div class="modal-content">
    <h4>Buy Hints</h4>
    <p>You can buy hints with your current score. Buying one hint will cost 2 points from your score.</p>
    <p>Your score: <%=user.score%> points</p>
    <%if(user.score>2){%>
    <a class="bttn" href="/game/buyHint">Buy 1 hint with 2 points.</a>
    <%}else{%>
    <p>Sorry but you don't have enough score to buy hints.</p>
    <%}%>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<div id="main">
  <section id="popular" class="section  section-popular scrollspy">
    <div class="container center-align">
      <div class="row">
        <div class="col s12 m3">
          <p>Name: <%=user.name%></p>
  </div>
  <div class="col s12 m3">
    <p>Score: <%=user.score%></p>
  </div>
  <div class="col s12 m3">
    <p>Hints: <%=user.hints%></p>
  </div>
  <div class="col s12 m3">
    <p>Skips: <%=user.skips%></p>
  </div>

</div>
<h5><%= message %></h5>
<form id="quesForm" class="col s12" action="/game/answerCheck" method="post">
  <div class="row cyan darken-3 question-card valign-wrapper">
    <div class="Quest">
      <h6><strong>This question has <%= ques.hints.length %> hints.</strong></h6>
      <h5><%- ques.question %></h5>
    </div>
  </div>
  <br>

  <div class="row cyan darken-3 question-card valign-wrapper">
    <div class="input-field col s12">
      <input type="text" name="ans" placeholder="Answer" class="white-text">
      <input type="text" name="quesID" value="<%= ques._id %>" hidden>
    </div>
  </div>

  <div id="controlButtons">
    <!-- <input class="bttn" type="submit"> -->
    <button onclick="checkAns()" data-target="checkAns" class="bttn modal-trigger">Submit</button>

    <%if(user.skips>0){%>
    <a class="bttn" href="/game/quesSkip">Skip Ques</a>
    <%}%>
    <%if(user.hints>0 && ques.hints.length>0){%>
    <!-- Modal Trigger -->
    <button data-target="showHints" onclick="showHints()" class="bttn modal-trigger">Use Hints</button>
    <%}%>
    <!-- Modal Trigger -->
    <button data-target="buyHints"  class="bttn modal-trigger">Buy Hints</button>
  </div>



</form>
</div>

</section>
</div>